body{
	font-family: 'arial';
}
h1{
	color: white;
	text-align: center;
	background-color: #061c69;
}
body{
	background-color: #232323;
}
div.col{
	width: 0px;
	height: 225px;
	background-color: orange;
	border-radius: 15px;
	float: left;
}
body:hover .col{
	width: 350px;
	transition-duration: 1s;
	transform-style: linear;
}

div.col{
	margin: 10px 0px 15px 45px;
	padding: 0px;

}

.option{
	background-color: white;
	text-align:center;
	}
