body{
	font-family: 'arial';
}
h1{
	color: white;
	text-align: center;
	background-color: #061c69;
	position: relative;
	transform: translate3d(0, -100%, 0);
}

.tr1
{
	transform: translate3d(0,0,0);
	transition: all 0.6s ease;
}

body{
	background-color: #232323;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.col{
	width: 80%;
	height: 225px;
	background-color: orange;
	border-radius: 15px;
	float: left;
}

div.col{
	margin: 10px 0px 15px 45px;
	padding: 0px;

}

.option{
	background-color: white;
	text-align:center;
	position: relative;
	transform: translate3d(-100% , 0 ,0);
}

.slide
{
	transform: translate3d(0, 0, 0);
	transition: all 0.8s ease;
	transition-delay: 0.8s;
}

.row
{
	position: relative;
	transform: translate3d(0, 100% , 0);
}

.row2
{
	transform: translate3d(0, 0, 0);
	transition: all 0.8s ease;
	transition-delay: 1.4s;
}
@media screen and (max-width:440px)
{
	.col-sm-6
	{
		height: 28vh;
	}

	.col
	{
		height: 94%;
	}
}
